.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Open Sans";
    -fx-base: #123486;
    -fx-background: #f5f5f5;
    -fx-background-size: cover;
    -fx-background-image: url('Shapiro-Center-at-dusk-.jpeg');
    -fx-background-repeat: no-repeat;
}

.button {
    -fx-background-color: #123486; /* Blue */
    -fx-border: none;
    -fx-color: #ffffff;
    -fx-border-radius: 15px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 14pt;
}

#hospitalname{
    -fx-color: #123486;
}

#aboutLabel{
    -fx-font-size: 12pt;
}