
.root{ /* this controls for the entire application */
    -fx-font-family: "Open Sans";
    -fx-base: #123486;
    -fx-background: #f5f5f5;
    -fx-background-size: cover;
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(244,244,244,1), rgba(244,244,244,0));
    -fx-background-image: url('images/Shapiro-Center-at-dusk-.jpeg');
    -fx-background-repeat: no-repeat;
}

.button { /* it controls all button customization */
    -fx-background-color: #123486; /* Blue */
    -fx-border: none;
    -fx-border-radius: 15px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16pt;
    -fx-text-fill: ffffff;
}

.helpbuttonstyleclass { /* controls all help buttons */
    -fx-background-color: #123486; /* Blue */
    -fx-text-fill: #ffffff; /* White */
    -fx-background-radius: 40pt; /* Makes button a circle */
    -fx-pref-height: 40pt;
    -fx-pref-width: 40pt;
    -fx-font-size: 18pt;
    -fx-font-weight: bolder;
}

.menu-button {
    -fx-font-size: 16pt;
    -fx-text-fill: ffffff;
}

.table-view {
    -fx-font-size: 16pt;
}

.homePageButton {
    -fx-font-size: 12pt;
    -fx-background-color: #123486; /* Blue */
}

.rootPane {
    -fx-background-color: #123486; /* Blue */
}

#hospitalName{
    -fx-fill: #ffffff;
    -fx-font-size: 20pt;
}

#aboutLabel{
    -fx-font-size: 10pt;
}