.Button { /* defines the format for the submit button */
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.table-view{
    -fx-border-radius: 10;
    -fx-background-color: transparent;
}

.table-row-cell:focused{
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: #98AABC;
    -fx-text-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: #012D5A;
    -fx-border-radius: 10;
}

.table-view .column-header {
    -fx-font-size: 14;
    -fx-text-background-color: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent
}

.table-view .cell{
    -fx-border-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-background-color: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: #012D5A;
    -fx-border-width: 0 0 2 0;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .cell:filled{
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.table-view .cell:selected{
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-background-color: #012D5A;
    -fx-text-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
}

.table-view .scroll-bar * {
    -fx-min-width: 10;
    -fx-pref-width: 10;
    -fx-max-width: 10;
    -fx-min-height: 10;
    -fx-pref-height: 10;
    -fx-max-height: 10;
}

.table-view .table-cell{
    -fx-padding: 5;
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: black;
}

.table-row-cell:odd{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: black;
    -fx-border-color: transparent;
}

.table-row-cell:even{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-background-color: #E4E1E6;
}

.table-view:focused {
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-background-color: black;
    -fx-text-fill: black;
}

.table-row-cell:focused {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: #012D5A;
    -fx-text-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:selected {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: #012D5A;
    -fx-text-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:hover {
    -fx-background-radius: 10;
    -fx-background-color: #98AABC;
    -fx-text-background-color: white;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #012D5A;
    -fx-border-radius: 10;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: grey;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

