/*.root {*/
/*    --textBlue: #011830; !* color of text *!*/
/*    --highlightBlue: #CDDFF6; !* secondary color of things like tabs *!*/
/*    --primaryBlue: #012D5A;*/
/*    --font: 'Nunito Sans';*/
/*}*/

@font-face {
    -fx-font-family: 'Nunito Sans Regular', sans-serif;
    src: url('images/Nunito_Sans/NunitoSans-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Nunito Sans Bold', sans-serif;
    src: url('images/Nunito_Sans/NunitoSans-Bold.ttf');
}

.mfx-toggle-button{
    -fx-text-fill: #012D5A;
    -fx-text-size: 12pt;
    -fx-font-family: 'Nunito Sans Bold';
}

.mfx-date-picker .date-picker-popup .years-combo,
.mfx-date-picker .date-picker-popup .months-combo,
.mfx-date-picker .date-picker-popup .week-day,
.mfx-date-picker .date-picker-popup .mfx-date-cell {
    -fx-min-width: 10;
    -fx-text-fill: #012D5A;
}

.mfx-text-field {
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-background-color: #E4E1E6;
    -fx-background-radius: 10;
    -fx-min-height: 40;
    -fx-min-width: 300;
}

.mfx-text-field:focus-within {
    -fx-border-color: #012D5A;
}

.label { /* sets base format for labels */
    -fx-text-fill: #012D5A;
    -fx-text-size: 12pt;
    -fx-min-width: 300;
}

.root {
    -fx-font-family: "Nunito Sans Regular";
}

/*.text { !* sets base format for text *!*/
/*    -fx-font-family: 'Nunito Sans Regular';*/
/*    -fx-text-fill: #012D5A;*/
/*}*/

.ourText {
    -fx-font-family: 'Nunito Sans Regular';
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-max-width: 128px;
    -fx-max-height: 53px;
    -fx-font-family: "Nunito Sans Regular";

}


.hubLabel { /* defines the format for the header on Service Request page */
    -fx-font-size: 36pt;
    -fx-pref-width: 500px;
    -fx-font-family: "Nunito Sans Bold";
    -fx-text-fill: #011830;
}
.aboutLabel { /* defines the format for the header on Service Request page */
    -fx-font-size: 36pt;
    -fx-pref-width: 1350px;
    -fx-font-family: "Nunito Sans Bold";
    -fx-text-fill: #011830;
}

.rowDeleteButton {
    -fx-pref-width: 128px;
    -fx-pref-height: 53px;
    -fx-background-color: #d73e3e;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Nunito Sans Bold";
}

.addFormLabel { /* defines the format for the header on Service Request page */
    -fx-font-size: 24pt;
    -fx-text-fill: #011830;
    -fx-font-family: "Nunito Sans Bold";
}

.homepageLabel { /* defines the format for the header on Service Request page */
    -fx-font-size: 24pt;
    -fx-max-width: 400px;
    -fx-max-height: 100px;
    -fx-font-family: "Nunito Sans Bold";
}

.imageBorder {
    -fx-border-color: #012D5A;
    /*-fx-border-radius: 16;*/
    -fx-border-width: 2;

}

.tabButton { /* defines the format for the tab Buttons on Service Request page */
    -fx-background-color: #CDDFF6;
    -fx-background-radius: 16px 16px 0px 0px; /* Makes button a circle */
    -fx-border-radius: 16px 16px 0px 0px; /* Makes button a circle */
    -fx-text-size: 12pt;
    -fx-max-width: 100px;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
    -fx-font-family: 'Nunito Sans Regular';

}

.tabButtonSelected { /* defines the format for the selected tab Button on the service request page */
    -fx-background-color: #012D5A;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 16px 16px 0px 0px; /* Makes button a circle */
    -fx-border-radius: 16px 16px 0px 0px; /* Makes button a circle */
    -fx-text-size: 12pt;
    -fx-max-width: 100px;
    -fx-font-family: 'Nunito Sans Regular';
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
}

.floorSwitchButton{

    -fx-gap-start-and-end: 12px;
    -fx-text-size: 16pt;
    -fx-pref-width: 100px;
    -fx-pref-height: 53px;

    -fx-background-color: #C9E0F8;
    -fx-border-width: 1pt;
    -fx-border-color: #012D5A;
    -fx-font-family: 'Nunito Sans Regular';


}
.tabHBox { /* defines the format for the HBox that the tabs are held in, particularly used for blue underline */
    -fx-border-color: transparent transparent #012D5A transparent;
    -fx-border-width: 5px;
    -fx-font-family: 'Nunito Sans Regular';
    -fx-min-height: 36px;
    -fx-alignment: bottom-left;
}

.serviceRequestDescription {
    -fx-wrap-text: true;
    -fx-text-fill: #012D5A;
}

.serviceRequestMFXTextFieldLabel {
    -fx-text-size: 12pt;
    -fx-font-family: 'Nunito Sans Bold';

}

.individualServiceRequestTextFieldVBox { /* defines the format for the individual vBox that contains service Request Text Fields */
    -fx-spacing: 3;
    -fx-padding: 0px;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

/*.serviceRequestMFXTextField { !* defines the format for each MFXTextField *!*/
/*    -fx-background-color: #EEEEEE;*/
/*}*/

.clearButton {
    -fx-background-color: transparent;
    -fx-text-fill: #012D5A;
    -fx-border-color: #012D5A;
    -fx-pref-height: 40px;
    -fx-font-family: 'Nunito Sans Bold';

}

.submitButton { /* defines the format for the submit button */
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-pref-height: 40px;
    -fx-font-family: 'Nunito Sans Bold';
}

.cancelButton { /* defines the format for the cancel button */
    -fx-background-color: transparent;
    -fx-text-fill: #012D5A;
    -fx-border-color: #012D5A;
    -fx-font-family: 'Nunito Sans Bold';

}

.deleteButton { /* defines the format for the delete button */
    -fx-background-color: transparent;
    -fx-text-fill: #CC2222;
    -fx-border-color: #CC2222;
    -fx-font-family: 'Nunito Sans Bold';
}

.mapEditorMapHolder { /* defines the format for the map holder on the mapEditor */
    -fx-border-color: #1D4E8D;
    -fx-border-width: 3px;
}

.mapEditorFloorButton { /* defines the format for the floor buttons on the mapEditor */
    -fx-background-color: #C9E0F8;
    -fx-text-fill: #000000;
    -fx-border-color: #012D5A;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-max-width: 200px;
    -fx-max-height: 100px;
    -fx-font-family: 'Nunito Sans Bold';
}

.mapEditorFloorButtonSelected { /* defines the format for the floor buttons on the mapEditor when selected */
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
    -fx-border-color: #012D5A;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-max-width: 200px;
    -fx-max-height: 100px;
    -fx-font-family: 'Nunito Sans Bold';
}

#loginButton {
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: 'Nunito Sans Regular';
    -fx-max-width: 300px;
    -fx-max-height: 45px;
}

#loginBorderPane {
    -fx-background-image: url('images/Shapiro-Center-at-dusk-.jpeg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#moveDisplayborderPane {
    /*-fx-background-image: url('images/Shapiro-Center-at-dusk-.jpeg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;*/
}

.helpButton {
    -fx-background-color: #012D5A; /* Blue */
    -fx-text-fill: #ffffff; /* White */
    -fx-background-radius: 40pt; /* Makes button a circle */
    -fx-max-height: 40pt;
    -fx-max-width: 40pt;
    -fx-font-size: 18pt;
    -fx-font-family: "Nunito Sans Bold";
}

.hubVBox {
    -fx-pref-width: 400;
    -fx-pref-height: 699;
    -fx-spacing: 15;
    -fx-padding: 50px;
    -fx-border-insets: 50px;
    -fx-background-insets: 50px;
}

.changePasswordVBox
{
    -fx-border-color: #012D5A;
    -fx-border-width: 4pt;
    -fx-border-radius: 16pt;
}

.changePasswordInsideVBox
{
    -fx-border-color: #012D5A transparent transparent transparent;
    -fx-border-width: 5pt;
}

.smallPFP
{
    -fx-background-image: url('images/emptyPFP.png');
    -fx-min-height: 40px;
    -fx-min-width:  40px;
    -fx-max-height: 40px;
    -fx-max-width:  40px;
    -fx-border-color: #012D5A;
    -fx-border-radius: 0px;
}

.homepageStatsText
{
    -fx-text-fill: #004D97;
    -fx-font-size: 12pt;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 60;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.homepageStatsNumberText
{
    -fx-text-fill: #004D97;
    -fx-font-size: 22pt;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 40;
    -fx-text-alignment: center;

}


